.nav .logo {
    gap: 10px;
}

.nav .logo-txt {
    flex-direction: column;
    justify-content: flex-end;
    font-size: 23px;
    line-height: 1.2;
}
.nav .logo-line1 {
    font-family: 'GeometricSlab', serif;
}

.nav .logo-line2 {
    font-size: 18.3px;
    font-family: 'gill-sans-mt', sans-serif;
}


.nav .logo-line0 span {
    background-color: white;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
}
.nav .btn {
    background-color: var(--yellow);
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 10px;
}