.nav .logo {
    gap: 10px;
}

.nav .logo-txt {
    flex-direction: column;
    justify-content: flex-end;
    font-size: 23px;
    line-height: 1.2;
}

.nav .logo-line1 {
    -webkit-font-smoothing: antialiased;
    /* For clearer text on macOS/iOS */
    -moz-osx-font-smoothing: grayscale;
    /* For Mac systems */
}

.logo-line1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-style: italic;
    text-shadow:
        -0.2px -0.2px 0 white,
        0.2px -0.2px 0 white,
        -0.2px 0.2px 0 white,
        0.2px 0.2px 0 white;
    font-size: 26.5px;
    position: absolute;
    top: 6px;
}

.nav .logo-line2 {
    font-size: 16.8px;
    line-height: 0.9;
}


.nav .logo-line0 span {
    background-color: white;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
}

.nav .btn {
    background-color: var(--yellow);
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 10px;
}

@keyframes glow {
    0% {
      filter: drop-shadow(0 0 5px #fdec01) drop-shadow(0 0 10px #fdec01);
    }
    50% {
      filter: drop-shadow(0 0 15px #fdec01) drop-shadow(0 0 30px #fdec01);
    }
    100% {
      filter: drop-shadow(0 0 5px #fdec01) drop-shadow(0 0 10px #fdec01);
    }
  }

  .de {
    gap: 5px;
  }
  .lightning {
    animation: glow 2s infinite;
    right: 26.5px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .letter {
    z-index: 10;
    position: relative;
  }
